@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
  text-align: center;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 480px) {
  body {
    flex-direction: column;
  }
  .counter {
    font-size: 32px;
    margin-top: 5px;
  }
}
@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
  .counter {
    font-size: 40px;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
  .counter {
    font-size: 48px;
    margin-top: 10px;
  }
}
